<nav class="nav-links">
  <a routerLink="/displayhelloworld">Hello World</a>&nbsp;&nbsp;
  <a routerLink="/showhellobutton">Show Hello</a>&nbsp;&nbsp;
  <a routerLink="/displayname">Display Name</a>&nbsp;&nbsp;
  <a routerLink="/counter">Counter</a>&nbsp;&nbsp;
  <a routerLink="/simpleform">Simple Form</a>&nbsp;&nbsp;
  <a routerLink="/userage">User Age</a>&nbsp;&nbsp;
  <a routerLink="/usergreeting">User Greeting</a>&nbsp;&nbsp;
  <a routerLink="/calculator">Calculator</a>&nbsp;&nbsp;
  <a routerLink="/textlength">Text Length</a>&nbsp;&nbsp;
  <a routerLink="/currencyconverter">Currency Converter</a><br>

  <a routerLink="/evenoddchecker">Even Odd Checker</a>&nbsp;&nbsp;
  <a routerLink="/wordreverser">Word Reverser</a>&nbsp;&nbsp;
  <a routerLink="/showdate">Show Date</a>&nbsp;&nbsp;
  <a routerLink="/showusername">Show Username</a>&nbsp;&nbsp;
  <a routerLink="/multiplicationtable">Multiplication Table</a>&nbsp;&nbsp;
  <a routerLink="/simplelogin">Simple Login</a>&nbsp;&nbsp;
  <a routerLink="/fahrenheittocelsius">Fahrenheit to Celsius</a>&nbsp;&nbsp;
  <a routerLink="/bookmarklist">Bookmark List</a>&nbsp;&nbsp;
  <a routerLink="/charactercounter">Character Counter</a>&nbsp;&nbsp;
  <a routerLink="/palindromechecker">Palindrome Checker</a><br>

  <a routerLink="/temperatureconverter">Temperature Converter</a>&nbsp;&nbsp;
  <a routerLink="/shoppinglist">Shopping List</a>&nbsp;&nbsp;
  <a routerLink="/factorialcalculator">Factorial Calculator</a>&nbsp;&nbsp;
  <a routerLink="/todomanager">Todo Manager</a>&nbsp;&nbsp;
  <a routerLink="/guessnumbergame">Guess Number Game</a>&nbsp;&nbsp;
  <a routerLink="/wordcounter">Word Counter</a>&nbsp;&nbsp;
  <a routerLink="/randomnumbergenerator">Random Number Generator</a>&nbsp;&nbsp;
  <a routerLink="/multiplicationchecker">Multiplication Checker</a>&nbsp;&nbsp;
  <a routerLink="/uppercaseconverter">Uppercase Converter</a>&nbsp;&nbsp;
  <a routerLink="/wordshuffler">Word Shuffler</a><br>

  <a routerLink="/bmisolver">BMI Solver</a>&nbsp;&nbsp;
  <a routerLink="/usernamevalidator">Username Validator</a>&nbsp;&nbsp;
  <a routerLink="/interestcalculator">Interest Calculator</a>&nbsp;&nbsp;
  <a routerLink="/compoundinterestcalculator">Compound Interest Calculator</a>&nbsp;&nbsp;
  <a routerLink="/fibonaccigenerator">Fibonacci Generator</a>&nbsp;&nbsp;
  <a routerLink="/oddsumcalculator">Odd Sum Calculator</a>&nbsp;&nbsp;
  <a routerLink="/currencyformatter">Currency Formatter</a>&nbsp;&nbsp;
  <a routerLink="/randomquotedisplay">Random Quote Display</a>&nbsp;&nbsp;
  <a routerLink="/uppercasegreeting">Uppercase Greeting</a>&nbsp;&nbsp;
  <a routerLink="/divisiblechecker">Divisible Checker</a><br>

  <a routerLink="/hexToRgbConverter">Hex to RGB Converter</a>&nbsp;&nbsp;
  <a routerLink="/numberTrivia">Number Trivia</a>&nbsp;&nbsp;
  <a routerLink="/randomColorGenerator">Random Color Generator</a>&nbsp;&nbsp;
  <a routerLink="/morseCodeTranslator">Morse Code Translator</a>&nbsp;&nbsp;
  <a routerLink="/emojiMoodTracker">Emoji Mood Tracker</a>&nbsp;&nbsp;
  <a routerLink="/simpleStopwatch">Simple Stopwatch</a>&nbsp;&nbsp;
  <a routerLink="/todoList">To-Do List</a>&nbsp;&nbsp;
  <a routerLink="/budgetTracker">Simple Budget Tracker</a>&nbsp;&nbsp;
  <a routerLink="/simpleCalendar">Simple Calendar</a>&nbsp;&nbsp;
  <a routerLink="/randomAnimalFacts">Random Animal Facts</a>
</nav>
<router-outlet></router-outlet>
